
<div class="card-mother">
    <div class="card-new">
        <h1>New Note</h1>
        <%= render 'form', note: @note %>
    </div>


</div>


<%=link_to notes_path, :action => 'go' do%>
    <div class="links">
        BACK
    </div>
<%end%>