
<div class="card-mother">
    <div class="card-new">
        <h1>New Note</h1>
        <%= render 'form', note: @note %>
    </div>

    <div class="links">
        <%= link_to 'Back', notes_path %>
    </div>
</div>