<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>

<% if resource.errors.any? %>
  <div id="error_explanation">
  <br/>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <p id="wrong-password"><%= message %></p>
      <% end %>
    </ul>
  </div>
<% end %>
