<div class="card-mother">

    <div class="card-new">
        <h1 class="new-book">New Book</h1>
        <%= render 'form', book: @book %>
    </div>


</div>



<%=link_to books_path, :action => 'go' do%>
    <div class="links">
        BACK
    </div>
<%end%>