<div class="card-mother">

    <div class="card-new">
        <h1>New Book</h1>
        <%= render 'form', book: @book %>
    </div>

    <div class="links">
        <%= link_to 'Back', books_path %>
    </div>

</div>