

*{
    margin: 0%; 
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}

body{
    background:  asset_url('compo.png') no-repeat;
    background-position: center;
}

h2{
    text-align: center;

}
.card-mother{
    margin:auto;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);

}

.card-log{
    width: 380px;
    padding: 40px;
    margin:auto;
    background: whitesmoke;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 24px -3px rgb(255, 255, 255);

}

.links-log{
    width: 180px;
    padding: 30px;
    margin:20px auto;
    background: whitesmoke;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 24px -3px rgb(255, 255, 255);
}
.links-singup{
    width: 80px;
    padding: 30px;
    margin:20px auto;
    background: whitesmoke;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 24px -3px rgb(255, 255, 255);
}


