@font-face{
    font-family: 'Script';
    src:asset_url('Boulders.ttf') format('truetype');
}

@font-face{
    font-family: 'Script2';
    src:asset_url('bouldersbeachPersonalUse.ttf') format('truetype');
}
